/* FONT FACE - font-display: fallback; */

/* VÍ DỤ - tuỳ chỉnh theo từng dự án*/

@font-face {
  font-family: "eri";
  src: url("../fonts/Exo-Regular-Italic.woff2") format("woff2"),
    url("../fonts/Exo-Regular-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "et";
  src: url("../fonts/Exo-Thin.woff2") format("woff2"),
    url("../fonts/Exo-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "em";
  src: url("../fonts/Exo-Medium.woff2") format("woff2"),
    url("../fonts/Exo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "lr";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "er";
  src: url("../fonts/Exo-Regular.woff2") format("woff2"),
    url("../fonts/Exo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
